body{
    background-image: url("images/bio-web.jpg");
}

article p{
    color: black;
    font-weight: 600;
    line-height: 40px;
    font-size: 1.3em;
}

article{
     background-color: white;
     opacity: 0.7;
     padding: 2em; 
}

#bio{
    margin-bottom: 40vh;
    padding: 2em;
    /*
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;*/

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    
}