body{
    background-image: url("images/contact-web.jpg");
}
h2, h3{
    color: black;
    font-weight: 600!important;
}
h2{
    text-decoration: underline;
}
h3{
    text-transform:capitalize;
}
p{
    font-size:1.2em;
    font-weight: 600;
}
section{
    padding: 2em;
    width: 50vw;
    background-color: white;
    opacity: 0.7;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* Centrage parfait dans body */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section a{
    color: black;
}
section a:hover{
    color: black;
    opacity: 0.8;
}


/* Footer | except home page */
footer {
    background-color:black;
}