.wrapper{
    margin-bottom: 30vh; /* same height as footer, so that content doesn't appear beneath it */
}

#new-single{
    border: 2px solid white;
    padding: 3em;
}
#new-single{
    height: 200px;
}

.spotify iframe{
    border-radius:12px;
}

body{
    background-image: url("images/bg-img-web.jpg");
}