body{
    background-image: url("images/music-web.jpg");
}
#new-single{
    height: 200px;
    /*border: 2px solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#new-single h1{
    background-color: white;
    opacity: 0.7;
    padding: 2em;
}
.spotify iframe{
    border-radius: 12px;
    width: 70%;
    height: 400px;
}
/*.spotify_player{
    border-radius: 12px;
    width: 70%;
    height: 400px;
}*/
.wrapper-music{
    padding-bottom: 20vh;
}