@media only screen and (min-width : 320px) and (max-width : 768px){
        /* nav */
        .element1{
            order: 2;
        }
        .element3{
            order: 3;
        }
        .element2{
            order: 0;
        }
        .navbar-toggler{
            border: none;
        }
        .navbar-toggler-icon{
            width: 3em;
            height: 3em;
        }
        .navbar-brand{
            font-size: 2em;
        }
        .navbar-collapse{
            background-color: black; 
        }
        /* main index */
        #news p{
            font-size: 2em;
        }
        /* footer */
        #socials i{
            font-size: 20px;
            margin: 0 15px 0 15px;
        }
        footer{
            min-height: 10vh;
        }

        /* bio */
        article p{
            line-height: 25px;
            font-size: 0.8em;
        }
        article{
            margin-bottom: 30vh;
            margin-top: 20vh;
        }
    }




     