/* LARGER DEVICES */
@media only screen and (min-width : 992px) {
    .no-scrollbar{
        overflow-y: hidden;
    }   
}

/* SMALL TO MEDIUM DEVICES */
@media only screen and (min-width : 280px) and (max-width : 992px){
    /* NAV */
    .element1{
        order: 2;
    }
    .element3{
        order: 3;
    }
    .element2{
        order: 0;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler-icon{
        width: 3em;
        height: 3em;
    }
    .navbar-brand{
        font-size: 0.6em;
    }
    nav{
        background-color: black; 
        margin-top: 0px;
    }
    .container-fluid{
        padding: 0;
    }
    /* burger - delete bootstrap border */
    .navbar-dark .navbar-toggler {
        color: transparent;
        border-color: transparent;
    }

    /* footer */
    #socials{
        margin-top: 10px;
    }
    #socials i{
        font-size: 18px;
        margin: 0 10px 0 10px;
    }
    footer{
        background-color: black;
        min-height: 10vh; 
        line-height: 1em;                  
    }
    #footer-text{
        margin-top: 0.5em;
    }
    #footer-text a, span{
        font-size: 9px;
    }

    /* OTHERS PAGES */

    /* music */
    .spotify iframe{
        width: 100%!important;
    }
    /* bio */
    #bio article p{
        line-height: 25px;
        font-size: 0.8em;
    }
    #bio article{
        margin-bottom: 20vh;
        margin-top: 20vh;
    }
    /* contact */
    #contact h2{
        font-size: 1.3em;
    }
    #contact h3{
        font-size: 1.3em;
    }
    #contact section{
        width: 80vw;
    }
}
/* Mobile-specific styles */
@media (max-width: 767px) {
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      /* Add any additional styles for mobile devices */
    }
  }


/* SMALLER DEVICES */
@media only screen and (min-width : 320px) and (max-width : 575px){
    #p-release-1{
        font-weight: 600;
        font-size: 2em;
    }
    #p-release-2{
        font-size: 1em; 
    }
    #youtube iframe{
        max-width: 100%;
        height: auto;
        min-height: 250px;
    }
}
