body{
    background-image: url("/assets/images/videos-web.jpg");
}
@media only screen and (min-width : 320px) and (max-width : 992px){
    body{
        background-image: url("/assets/images/videos-mob.jpg");
    }
}
/* same or > height as footer, so that content doesn't appear under it */
.wrapper-video-content{
    padding-bottom: 20vh;
}
.videos{
    /*background-color: black;*/
    padding: 2em;
}
#youtube iframe{
    width: 560px;
    height: 315px;
}
.row{
    --bs-gutter-x: 0rem;
}

/* Footer | except home page
footer {
    background-color:black;
}
 */